<!DOCTYPE html>
<html>
  <head>
    <title>UpTheAnte</title>
  </head>
  <body>
    <h1>UpTheAnte Sample Trivia</h1>
    <p><%= message %></p>

    <form method="post" action="/hello">
      <p>
        <input name="message"></input>
        <input class="button" type="submit" value="Update Greeting">
      </p>
    </form>

  </body>
</html>
